
#img-footer{
    max-width: 100%;
    height: auto;
  }

  #img-social {
    display: flex;
    flex-wrap: wrap;
  }

a#footer {
    text-decoration: none;
    border: none;
    outline: none;
}


.container-fluid-footer {
    background-color: #727276;
    margin: 0% !important;
}

h5#scritta-footer {
    font-weight: bold;
}

h1#scritta-footer, p#scritta-footer {
    text-align: center !important;
}

.navbar-brand {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 200%;
    font-weight: bold;
    color: black !important;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.5); /* Colore bianco con trasparenza */
    padding: 5px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

div#NB {
    display: flex;
    
}
button#NB2 {
    margin-left: 5px;
}

#scritta-footer {
    color: white !important;

}

.form-control {
    background-color: transparent;
    border: 2px solid white;
}


.nav-item {
    margin: 15px;
}


.row {
    margin: 5%;
}

div#background {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url("/SerraLana/img/Zara-autunno-inverno-2016-2017-trend.jpg") !important;
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
}

.col-9#registrazione {
    display: flex;
    justify-content: flex-start; 
    align-items: center; 
    width: 50%;
    margin-left: 5%;


}

.col-3#accedi {
    display: flex;
    justify-content: flex-end; 
    align-items: center; 
    margin-right: 20%;

}

.form-label {
    font-weight: bold;
    color: black !important;
    text-shadow: 1px 1.5px 2.5px white;

}

#titolo {
    font-weight: bold;
    font-size: 25px;
    color: black !important;

}

input[type="checkbox"]:checked {
    background-color: black;
    border-color:black;
}

#scritta-semplice {
    color: black !important;
    text-shadow: 0.5px 1px 2px wheat;


}

.form-control {
    background-color: transparent;
    border: 2px solid white;
}


