
#img-footer{
    max-width: 100%;
    height: auto;
  }

  #img-social {
    display: flex;
    flex-wrap: wrap;
  }

a#footer {
    text-decoration: none;
    border: none;
    outline: none;
}


.container-fluid-footer {
    background-color: #727276;
    margin: 0% !important;
}

h5#scritta-footer {
    font-weight: bold;
}

h1#scritta-footer, p#scritta-footer {
    text-align: center !important;
}

.navbar-brand {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 200%;
    font-weight: bold;
    color: black !important;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.5); /* Colore bianco con trasparenza */
    padding: 5px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#scritta-footer {
    color: white !important;

}

.form-control {
    background-color: transparent;
    border: 2px solid white;
}

.nav-item {
    margin: 15px;
}


