
#img-footer{
    max-width: 100%;
    height: auto;
  }

  #img-social {
    display: flex;
    flex-wrap: wrap;
  }

a#footer {
    text-decoration: none;
    border: none;
    outline: none;
}


.container-fluid-footer {
    background-color: #727276;
    margin: 0% !important;
}

h5#scritta-footer {
    font-weight: bold;
}

h1#scritta-footer, p#scritta-footer {
    text-align: center !important;
}

.navbar-brand {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 200%;
    font-weight: bold;
    color: black !important;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.5); /* Colore bianco con trasparenza */
    padding: 5px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#scritta-footer {
    color: white !important;

}

.form-control {
    background-color: transparent;
    border: 2px solid white;
}

.nav-item {
    margin: 15px;
}

div#categoria {
    background-image: url("/SerraLana/img/categoriasfondo1.jpg");
    margin: 0;
    height: 100vh;
    background-size: cover; 
    background-position: center; 
    font-family: Arial, sans-serif;
}

div#categoria2 {
    background-image: url("/SerraLana/img/categoriasfondo2.jpg");
    margin: 0;
    height: 100vh;
    background-size: cover; 
    background-position: center; 
    font-family: Arial, sans-serif;
}

div#testoC{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    line-height: 55px;
    padding: 100px;

}


.categoriaC {
    color: rgba(255, 255, 255, 0); 
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
    text-decoration: none;

}

.categoriaC2 {
    color: rgba(255, 255, 255, 0); 
    text-shadow: 2px 2px 1px rgba(255, 255, 255, 0.3);
    text-decoration: none;

}

.container-fluid#banner {
    height: auto;
    background-color: #dd7437;
    font-family: Arial, sans-serif;

}

#testoBanner {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    color: black;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
}

#testoBanner2 {
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    color: black;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}